@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@100;200;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tajawal", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.container {
  padding: 20px 70px;
  color: wheat;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-container {
  font-weight: 100;
}

.date-container .time {
  font-size: 70px;
}

.date-container #am-pm {
  font-size: 30px;
  margin-left: 20px;
}

.date-container .date {
  font-size: 30px;
}

.place-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  row-gap: 5px;
}

.place-container .time-zone {
  font-size: 30px;
  font-weight: 100;
  background-color: rgb(24, 24, 27, 0.6);
  border-radius: 10px;
  padding: 10px;
}

.place-container .country {
  font-size: 12px;
  font-weight: 700;
  background-color: rgb(24, 24, 27, 0.6);
  border-radius: 10px;
  padding: 10px;
  width: 2rem;
}

.current-info .others {
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 27, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid wheat;
  font-weight: 400;
}

.current-info .others .weather-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-icon img {
  width: 50px;
}

.activity {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: wheat;
  font-size: 2rem;
  background-color: rgb(24, 24, 27, 0.5);
  border-radius: 20px;
  padding: 10px;
}

.place-and-activity {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#music {
  background: rgb(24, 24, 27, 0.68);
  padding: 25px;
  margin-bottom: 0;
  bottom: 0;
  color: wheat;
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 830px) {
  .container {
    padding: 20px;
  }

  .date-container .time {
    font-size: 50px;
  }

  .date-container #am-pm,
  .date-container .date,
  .place-container .time-zone {
    font-size: 20px;
  }
  .place-and-activity {
    width: 50vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .activity {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 538px) {
  .activity {
    font-size: 25px;
  }
}

@media only screen and (max-width: 489px) {
  .place-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .activity {
    width: 90vw;
    margin-top: 60px;
  }

  body {
    display: flex;
    flex-direction: column;
  }
  iframe {
    height: 100px;
  }
}
